* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050816;
  color: white;
  font-family: Arial, sans-serif;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.hero-content {
  width: 700px;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  line-height: 1.2;
}

.hero span {
  color: #7C5CFF;
}

.hero p {
  margin-top: 20px;
  color: #bdbdbd;
  font-size: 18px;
}

textarea {
  width: 100%;
  height: 140px;
  margin-top: 40px;
  border-radius: 20px;
  border: none;
  padding: 20px;
  font-size: 16px;
  resize: none;
  background: rgba(255,255,255,0.08);
  color: white;
}

textarea:focus {
  outline: none;
}

button {
  margin-top: 25px;
  background: #7C5CFF;
  color: white;
  border: none;
  padding: 16px 34px;
  border-radius: 16px;
  font-size: 18px;
  cursor: pointer;
}